body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #50B7B4;
    font-family: 'Abel', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75)!important;
}

.sticky-top.scrolled {
    background-color: rgba(80, 183, 180, 0.6) !important;
    transition: background-color 200ms linear;
}
  
.sticky-top.scrolled .nav-link {
    color:#555;
}

/* .navbar-inner {
    background: rgba(80, 183, 180, 1);
} */

.row-1 {
    position: relative;
    background-image: url('../images/fundo-esatt.png');
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    top: 0%;
    left: 0;
    height: 300px;
    width: 100%;  
    transition: 2%;
}

.logo_row {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 200px;
    height: 100px;
    transition: 2%;
    background-image: url('../images/logo.jpeg');
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.logo_row:hover ~ .row-1 {
    filter: blur(3px);
}

.logo_row:hover {
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.3);
}

.row-2 {
    position: relative;
    background-color: #F5FFFF;
    height: 25%;
    width: 100%; 
    font-family: 'Abel', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px; 
}

.row-3 {
    position: relative;
    background-color: #74BEBD;
    height: 25%;
    width: 100%;  
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    color: white; 
    font-family: 'Abel', sans-serif; 
    text-align: center;
}

.feature1 {
    flex-direction: column;
    margin: 20px;
    border-radius: 50%;
    width: 155px;
    height: 150px;
}

.p1 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.feature2 {
    flex-direction: column;
    margin: 20px;
    border-radius: 50%;
    width: 155px;
    height: 150px;
}

.p2 {
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.row-4 {
    position: relative;
    background-color: #F5FFFF;
    height: 25%;
    width: 100%;  
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-4 > * {
    font-family: 'Abel', sans-serif;
}

.row-5 {
    position: relative;
    background-color: #74BEBD;
    height: 25%;
    width: 100%;padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;  
}
/* Three columns side by side */
.column {
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Abel', sans-serif;

}

.title-team {
    color: grey;
}

.row-6 {
    position: relative;
    background-color: #F5FFFF;
    height: 25%;
    width: 100%;padding-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;  
}

.btn {
    background-color: #50B7B4!important;
    color: white!important;
    margin-bottom: 50px;
    margin-left: 35%;  
    width: 30%;
}

.btn:hover {
    background-color: #9AD0D0!important;
    color: white!important;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #50B7B4;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #50B7B4;
    color: white;
    border-radius: 50%;
}

.fa-linkedin {
    background: #50B7B4;
    color: white;
    border-radius: 50%;
}
  

.footer {
    margin-top: 50px;
    position: relative;
    background-color: #50B7B4;
}

p > a {
    color: #9AD0D0;
}

p > a:hover,
p > a:active {
    color: #F5FFFF;
}

/* Media Queries */

/* sm */
@media only screen and (min-width: 480px) {
    .feature1 {
        margin: 20px 33%;
    }
    
    .p1 {
        text-align: center;
    }
    
    .feature2 {
        margin: 20px 33%;
    }
    
    .p2 {
        text-align: center;
    }
    
    .logo_row {
        top: 26%;
        left: 34%;
        width: 200px;
        height: 100px;
    }
}

/* md */
@media only screen and (min-width: 576px) {
    .feature1 {
        margin: 20px;
    }
    
    .p1 {
        text-align: center;
        padding: 20px;
    }
    
    .feature2 {
        margin: 20px;
    }
    
    .p2 {
        text-align: center;
        padding: 20px;
    }

    .logo_row {
        top: 23%;
        left: 30%;
        width: 250px;
        height: 125px;
    }
}

/* landscape */
@media (orientation: landscape) {
    .logo_row {
        top: 23%;
        left: 30%;
        width: 250px;
        height: 125px;
    }
}

/* lg */
@media only screen and (min-width: 768px) {
    .c1 {
        display: flex;
        justify-content: space-around;
    }

    .c2 {
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .feature1 {
        margin: 40px;
    }
    
    .p1 {
        text-align: center;
        padding: 20px;
    }
    
    .feature2 {
        margin: 40px;
    }
    
    .p2 {
        text-align: center;
        padding: 20px;
    }
    .card {
        font-size: 0.7em;
    }

    .logo_row {
        top: 20%;
        left: 32%;
        width: 300px;
        height: 150px;
    }
}

/* xl */
@media only screen and (min-width: 992px) {
    .feature1 {
        margin: 40px;
    }
    
    .p1 {
        text-align: center;
        padding: 20px;
    }
    
    .feature2 {
        margin: 40px;
    }

    .logo_row {
        top: 20%;
        left: 35%;
        width: 350px;
        height: 175px;
    }

    .card {
        font-size: 1em;
    }
}